.container-w {
  background-color: #ffffff;
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-w > div {
  padding: 0px;
  max-width: 100%;
  height: auto;
  flex: auto;
}

.pic-w {
  max-width: 100%;
  height: 480px;
  object-fit:contain;
}

.pic-w2 {
  max-width: 100%;
  height: 570px;
  object-fit:contain;
}

.pic-w3 {
  max-width: 100% ;
  height: 415px;
  object-fit:contain;
}

#tv {
  position: relative;
  width: 1020px;
  height: 497px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.container-w2 {
  background-color: #ffffff;
  display: flex;
  max-width: 75%;
  height: 45%;
  margin: 0 auto;
  padding-top: 5%;
}

.container-w2 > div {
  padding: 0px;
  max-width: 50%;
  height: auto;
  flex: auto;
}

.lwt {
  text-align: justify;
  width: 100%;
  font-size: 24px;
}

.container-w3 {
  background-color: #ffffff;
  display: flex;
  max-width: 100%;
  height: 45%;
  padding-top: 0px;
}

.container-w3 > div {
  padding: 3.5%;
  max-width: 50%;
  height: auto;
  flex: auto;
}

